/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

	aliases {
		led0 = &led_p6;
		oled0 = &ssd1306;
		temp0 = &bme280;
		flash0 = &w25q16;
	};

	leds {
		compatible = "gpio-leds";
		led_p6: led_p6 {
			gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
			label = "User LED";
		};
	};
};

/* --- CLOCK FIX: USE HSI (INTERNAL 16MHz) INSTEAD OF HSE --- */
&clk_hsi {
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <168>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
};

/* --- UART CONFIG --- */
&usart1 {
	status = "okay";
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

/* --- I2C CONFIG (OLED + BME280) --- */
&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};

	bme280: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};
};

/* --- SPI CONFIG (W25Q16) --- */
&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	cs-gpios = <&gpiob 14 GPIO_ACTIVE_LOW>;

	w25q16: w25q16@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(20)>;
		size = <0x1000000>; // 16Mbit = 2Mbyte
		jedec-id = [ef 40 15]; // W25Q16
	};
};
