/ {
	aliases {
		led0 = &led0;
		oled0 = &sdl_dc; /* Simulated display if SDL is available, or just a dummy */
		temp0 = &bme280_sim;
		flash0 = &flash_sim;
		sw0 = &button0;
		sw1 = &button1;
		sw2 = &button2;
		sw3 = &button3;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
		};
		button1: button_1 {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		};
		button2: button_2 {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		};
		button3: button_3 {
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		};
	};

	/* Simulated BME280 */
	bme280_sim: bme280_sim@0 {
		compatible = "zephyr,dummy-sensor";
		reg = <0x0 0x1>;
	};

	/* Simulated Flash */
	flash_sim: flash_sim@0 {
		compatible = "zephyr,sim-flash";
		reg = <0x0 0x1000000>;
		erase-value = <0xff>;
	};
	
	/* Dummy Display */
	sdl_dc: sdl_dc {
		compatible = "zephyr,sdl-dc";
		height = <64>;
		width = <128>;
	};
};
